$gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

.interactive {
  align-items: center;
  width: 58%;
  padding: 0 1rem;
  background: $gradient;
}

.code {
  width: 42%;
}

.motions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 6rem;
  user-select: none;
  pointer-events: none;
}

.control {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: space-between;
  margin: auto 0 0 0;
  padding: 1rem 0 0 0;
}
