@use './variables/colors' as *;
@use './variables/breakpoints' as *;
@import './override';

:root {
  --max-width--mobile: #{$max-width--mobile};
}

html,
body {
  font-family: 'Rubik', sans-serif !important;
  font-size: 16px;
  color: $color__black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: $min-width--desktop) {
  html,
  body {
    font-size: 1vw;
  }
}

@media (max-width: $max-width--mobile) {
  html,
  body {
    font-size: 3vw;
  }
}
