$gradient: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);

.interactive {
  align-items: center;
  justify-content: center;
  width: 65%;
  background: $gradient;
}

.code {
  width: 35%;
}

.motion {
  font-size: 6rem;
  cursor: grab;
  user-select: none;

  &:active {
    cursor: grabbing;
  }
}
