@use '/src/styles/variables/colors' as *;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 20rem;
  padding: 1rem;
  overflow: hidden;
  background: $color__black;
  border-radius: 0.85rem;

  &__text {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: max-content;
    padding: 0.25rem 0.5rem;
    color: $color__white;
    border-radius: 0.85rem;
    transform: translate(-50%, -50%);
    user-select: none;
  }

  &__padding {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 5rem;
  font-size: 5rem;
  background: rgba($color__white, 0.1);
  border-radius: 0.85rem;
  cursor: grab;
  backdrop-filter: blur(3px);

  &:active {
    cursor: grabbing;
  }
}
